body {
  text-align: center;
  margin-top: 30px;
  font-family: "Courier";
  background-color: #c2b8ea;
  color: #6358a2;
}
#activityquestion {
  font-size: 50px;
  margin-bottom: 30px;
}
.activity-item {
  display: inline-block;
  margin: 10px;
  vertical-align: top;
  color: #724cca;
}
.activity-item img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 5px solid #9673d8;
  object-fit: cover;
  padding: 10px;
}
.activity-item label {
  display: block;
}
.button {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  margin: 10px;
  font-family: "courier";
  margin-bottom: 20px;
  background-color: #dce2f0;
  color: #ad94e7;
  border-radius: 12px;
  border: 2px solid #d1b1f9;
}

button:hover {
  background-color: #b8afeb;
  color: #8064e4;
  border: 2px solid #c9d4f8;
  box-shadow: 1px 1px 2px #ffe3e1;
}

