body {
  text-align: center;
  margin-top: 30px;
  font-family: "Courier";
  background-color: #bec3f9;
  color: #bb9bda;
  display: flex;
  flex-direction: column;
}
h1 {
  font-size: 40px;
}

form .header {
  width: 100%;
  display: flex;
  font-size: 20px;
  margin-bottom: 20px;
  color: #967cd2;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 25px;
}

.button {
  padding: 6px 10px;
  font-size: 15px;
  cursor: pointer;
  margin: 10px;
  font-family: "courier";
  margin-bottom: 10px;
  background-color: #ffe3e1;
  color: #8a7ee4;
  border-radius: 12px;
  border: 2px solid #ffe3e1;
  transition: 0.3s;
}

.button:hover {
  background-color: #c890f3;
  color: #ada6f9;
  border: 2px solid #8574e0;
}

input[type="date"] {
  padding: 6px 10px;
  font-size: 15px;
  cursor: pointer;
  margin: 10px;
  font-family: "courier";
  margin-bottom: 10px;
  background-color: #ffe3e1;
  color: #8b94e8;
  border-radius: 12px;
  border: 2px solid #ffe3e1;
}
