body {
  text-align: center;
  margin-top: 30px;
  font-family: "Courier";
  background-color: #cdc7f1;
  color: #8998ca;
}
#foodquestion {
  font-size: 50px;
  margin-bottom: 30px;
}
.food-item {
  display: inline-block;
  margin: 10px;
  vertical-align: top;
  color: #6b92d5;
}
.food-item img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 5px solid #b8a0e4;
  object-fit: cover;
  padding: 10px;
}
.food-item label {
  display: block;
}
.button {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  margin: 10px;
  font-family: "courier";
  margin-bottom: 20px;
  background-color: #f3f4fb;
  color: #8fa9ea;
  border-radius: 12px;
  border: 2px solid #7c6ec2;
}

button:hover {
  background-color: #b8afeb;
  color: #8064e4;
  border: 2px solid #c9d4f8;
  box-shadow: 1px 1px 2px #ffe3e1;
}
