body {
  text-align: center;
  margin-top: 30px;
  font-family: "Courier";
  background-color: #dac2e8;
  color: #9e9ceb;
}
#thankyou {
  font-size: 50px;
  margin-bottom: 20px;
}
.rizz {
  margin-bottom: 10 px;
}
.button {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  margin: 10px;
  font-family: "courier";
  margin-bottom: 20px;
  background-color: #ffe3e1;
  color: #b89bcf;
  border-radius: 12px;
  border: 2px solid #ffe3e1;
  box-shadow: 1px 1px 2px #94b2ff;
  transition: 0.3s;
}

.button:hover {
  background-color: #b8afeb;
  color: #ffe3e1;
  border: 2px solid #c9d4f8;
  box-shadow: 1px 1px 2px #ffe3e1;
}
