body {
  text-align: center;
  margin-top: 30px;
  font-family: "Courier";
  background-color: #ded2fb;
  color: #b09dee;
}

img {
  height: 400px;
  width: auto;
  padding: 10px;
}

#valentineQuestion {
  font-size: 50px;
  margin-bottom: 10px;
}
.answerButton {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  margin: 10px;
  font-family: "courier";
  margin-bottom: 20px;
  background-color: #ead0f6;
  color: #e67373;
  border-radius: 12px;
  border: 2px solid #ffe3e1;
  box-shadow: 1px 1px 2px #b285c3;
  transition: 0.3s;
}

.answerButton:hover {
  background-color: #a5a5f3;
  color: #b175f0;
  border: 2px solid #7727c7;
  box-shadow: 1px 1px 2px #ffe3e1;
}
